<style>
    #activity-create-form {
        margin: 20px auto;
        width: 90%;
        max-width: 1000px;
    }
    
    #activity-create-form .breadcrumb>li {
        color: #ccc;
    }
    
    #activity-create-form .breadcrumb>.active {
        color: #337ab7;
    }
    
    #activity-create-form .breadcrumb>li+li:before {
        content: ">";
    }
    
    #activity-create-form .alert .glyphicon-ok {
        margin-right: 10px;
    }
    
    #activity-create-form .list-group li .glyphicon {
        display: none;
        cursor: pointer;
    }
    
    #activity-create-form .list-group li .glyphicon:hover {
        color: #337ab7;
    }
    
    #activity-create-form .list-group li:hover {
        background-color: aliceblue;
    }
    
    #activity-create-form .list-group li:hover .glyphicon {
        display: block;
    }
</style>
<div class="container" id="activity-create-form">
    <h1>活动录入</h1>
    <div class="ui-breadcrumb"></div>
    <div class="step">
        <div class="ui-form"></div>
        <div class="form-group">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-step">下一步</button>
            </div>
        </div>
    </div>
    <div class="step">
        <div class="ui-doublepanel"></div>
        <div class="form-group">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-step">下一步</button>
            </div>
        </div>
    </div>
    <div class="step">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>活动添加成功，
            <a href="../pages/activity_list.php" class="alert-link">返回列表</a>
        </div>
    </div>
</div>
<script>
    var ui_header = new Breadcrumb({
        dom: document.querySelectorAll(".ui-breadcrumb")[0],
        section: ["基本信息", "相关活动", "相关商品", "完成"]
    });
    var ui_formStepOne = new Form({
        dom: document.querySelectorAll(".ui-form")[0],
        section: [
            {
                type: "text",
                name: "subject",
                id: "inputActivitySubject",
                text: "活动名称"
            },
            {
                type: "text",
                name: "name",
                id: "inputActiveHost",
                text: "举办方"
            },
            {
                type: "text",
                name: "slogan",
                id: "inputActiveSlogan",
                text: "活动标语"
            },
            {
                type: "text",
                name: "address",
                id: "inputActiveAddress",
                text: "活动地址"
            },
            {
                type: "date",
                name: "beginDateTime",
                id: "inputActiveBeginDate",
                text: "起始日期"
            },
            {
                type: "date",
                name: "endDateTime",
                id: "inputActiveEndDate",
                text: "结束日期"
            },
            {
                type: "image",
                name: "headpic",
                id: "inputActiveCover",
                text: "封面图",
                previewid: "thumbnail"
            }
        ]
    });
    var ui_relativeActivity = new DoublePanel({
        dom: document.querySelectorAll(".ui-doublepanel")[0],
        titleLeft: "查找相关活动",
        titleRight: "已选相关活动"
    });
    var boxStep = Array.from(document.getElementsByClassName("step")),
        btnStep = document.querySelectorAll(".btn-step"),
        aid;

    function setStep(x) {
        boxStep.forEach(function (element, index) {
            element.style.display = (index === x) ? "block" : "none";
        });
        ui_header.select(x);
        if (x === 1) {
            LV.xhrget(LV.api + "?type=activityListAll&status=All&page=1", function (data) {
                console.log(data);
                ui_relativeActivity.fillListGroupLeft(data.data);
            });
        }
    }

    setStep(0);
    
    ui_formStepOne.fileInputDom.onchange = function () {
        var form = new FormData(ui_formStepOne.fileFormDom);
        LV.xhrfile(LV.uploadImage + "activity/0", form, function (data) {
            console.log(data);
            ui_formStepOne.filePreviewDom.src = ui_formStepOne.fileReturnDom.value = LV.serverPath.image + data.src_1.filePath;
        });
    };
    btnStep[0].onclick = function () {
        LV.xhrpost(LV.api + "?type=activityAddMain", ui_formStepOne.getSerialize(), function (data) {
            console.log(data);
            aid = data.id;
            setStep(1);
            LV.xhrpost(LV.api + "?type=activityAddDetail", `content=init&aid=${aid}`, function (data) {
                console.log(data);
            });
        });
    };
    btnStep[1].onclick = function () {
        setStep(2);
        ui_relativeActivity.getSelectedItem().forEach(function (element, index) {
            LV.xhrpost(LV.api + "?type=activityAddRelativeActivity", `aid=${aid}&pid=${element.pid}`, function (data) {
                console.log(data);
            });
        });
    };
</script>