<style>
    #activity-list-table {
        margin: 20px auto;
        width: 90%;
        max-width: 1000px;
    }
    
    #activity-list-table .dialog {
        position: fixed;
        top: 160px;
        left: 50%;
        margin-left: -400px;
        width: 800px;
    }
    
    #activity-list-table .glyphicon {
        cursor: pointer;
    }
    
    #activity-list-table .glyphicon:hover {
        color: #337ab7;
    }
    
    #activity-list-table .viewbox {
        position: fixed;
        top: 60px;
        left: 50%;
        margin-left: -187.5px;
        width: 375px;
    }
    
    #activity-list-table .viewbox .panel-body {
        padding: 0;
        height: 667px;
        overflow-y: auto;
    }
    
    #activity-list-table .viewbox {
        font-family: "Microsoft Yahei";
        font-size: 62.5%;
    }
    
    #activity-list-table .viewbox .activity-info {
        color: #898989;
    }
    
    #activity-list-table .viewbox .font-big {
        margin-top: 30px;
        font-size: 2.6em;
        color: #000;
        font-weight: 400;
    }
    
    #activity-list-table .viewbox .font-medium {
        font-size: 1.5em;
    }
    
    #activity-list-table .viewbox .font-small {
        font-size: 1.4em;
    }
    
    #activity-list-table .viewbox .activity-content {
        position: relative;
        margin: 0 auto 46px auto;
    }
    
    #activity-list-table .viewbox .activity-content img {
        width: 100%;
        display: block;
        border: 0;
    }
    
    #activity-list-table .viewbox .activity-content p {
        padding: 0 2.5%;
    }
    
    #activity-list-table .viewbox #ac-picture {
        position: relative;
        width: 100%;
        height: 200px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    
    #activity-list-table .viewbox .activity-info {
        width: 90%;
        margin: 0 auto 46px auto;
    }
    
    #activity-list-table .viewbox #ac-slogan,
    #activity-list-table .viewbox #ac-time,
    #activity-list-table .viewbox #ac-address {
        margin: 1.5px 0 15px 0;
    }
    
    #activity-list-table .viewbox #ac-time,
    #activity-list-table .viewbox #ac-address {
        color: #000;
    }
    
    #activity-list-table .viewbox #ac-organization {
        color: #4e4e4e;
    }
    
    #activity-list-table .activity-relative,
    #activity-list-table .product-relative {
        margin-bottom: 50px;
        text-align: center;
    }
    
    #activity-list-table .activity-relative p,
    #activity-list-table .product-relative p {
        margin-bottom: 20px;
        font-size: 1.4em;
        color: #4e4e4e;
    }
    
    #activity-list-table .activity-relative .img-wrapper img {
        width: 100%;
        display: block;
        border: 0;
    }
    
    #activity-list-table .product-relative .img-wrapper div {
        display: inline-block;
        width: 29%;
    }
    
    #activity-list-table .product-relative .img-wrapper div img {
        width: 100%;
    }
    
    #activity-list-table .product-relative .img-wrapper div + div {
        margin-left: 4%;
    }
</style>
<div class="container" id="activity-list-table">
    <div class="form-group clearfix">
        <div class="ui-search"></div>
        <div class="pull-right">
            <a href="activity_create.php" type="button" class="btn btn-primary">添加活动</a>
        </div>
    </div>
    <div class="ui-navtabs"></div>
    <div class="ui-table"></div>
    <div class="dialog" style="display:none">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">修改状态
                <span class="glyphicon glyphicon-remove pull-right btn-close" aria-hidden="true"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="form-group clearfix">
                    <label for="activityRadioStatus" class="col-sm-5 control-label">修改状态：
                        <span class="radio-box"></span>
                    </label>
                </div>
                <div class="form-group">
                    <div class="center-block">
                        <script id="ueditor" name="content" type="text/plain"></script>
                    </div>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary btn-status">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="viewbox" style="display:none">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">预览
                <span class="glyphicon glyphicon-remove pull-right btn-close" aria-hidden="true"></span>
                </h3>
            </div>
            <div class="panel-body">
                <div class="activity-infoall"></div>
                <div class="activity-content font-medium"></div>
                <div class="product-relative"></div>
                <div class="activity-relative"></div>
            </div>
        </div>
    </div>
</div>
<script src="../library/ueditor/ueditor.config.js"></script>
<script src="../library/ueditor/ueditor.all.js"></script>
<script>
    UE.Editor.prototype._bkGetActionUrl = UE.Editor.prototype.getActionUrl;
    UE.Editor.prototype.getActionUrl = function (action) {
        if (action == 'uploadimage') {
            return LV.serverPath.local + "library/ueditor/php/sys_action_upload.php?action=uploadimage";
        } else {
            return this._bkGetActionUrl.call(this, action);
        }
    }
</script>
<script>
    var ui_search = new ListSearch({
        dom: document.querySelectorAll(".ui-search")[0],
        type: "活动"
    });
    var ui_list = new List({
        navDom: document.querySelectorAll(".ui-navtabs")[0],
        tableDom: document.querySelectorAll(".ui-table")[0],
        tabs: ["全部", "未发布", "未举办", "举办中", "已完成"],
        columns: ["#", "活动ID", "活动名称", "举办方", "起始时间", "阅读量", "状态", "操作"]
    });
    var body = LV.getDom("activity-list-table"),
        navli = body.getElementsByClassName("nav-tabs")[0].getElementsByTagName("li"),
        tbody = body.getElementsByTagName("tbody")[0],
        hasmore = body.getElementsByClassName("hasmore")[0],
        page = 0,
        navMap = ["all", "3", "2", "1", "0"],
        status = "all",
        ue = UE.getEditor("ueditor"),
        searchName = '',
        search = body.getElementsByClassName("input-group")[0],
        searchInput = search.getElementsByTagName("input")[0],
        searchBtn = search.getElementsByTagName("button")[0],
        viewbox = body.getElementsByClassName("viewbox")[0],
        viewInfoBox = viewbox.getElementsByClassName("activity-infoall")[0],
        viewContentBox = viewbox.getElementsByClassName("activity-content")[0],
        viewProductBox = viewbox.getElementsByClassName("product-relative")[0],
        viewActivityBox = viewbox.getElementsByClassName("activity-relative")[0],
        btnCloseView = viewbox.getElementsByClassName("btn-close")[0],
        dialog = body.getElementsByClassName("dialog")[0],
        radioBox = dialog.getElementsByClassName("radio-box")[0],
        radioList = dialog.getElementsByTagName("input"),
        btnClose = dialog.getElementsByClassName("btn-close")[0],
        btnStatus = dialog.getElementsByClassName("btn-status")[0];

    function showDialog(aid, astatus) {
        var radio = [
            '<label class="radio-inline"><input type="radio" name="status" value="2">未举办</label>',
            '<label class="radio-inline"><input type="radio" name="status" value="1">举办中</label>',
            '<label class="radio-inline"><input type="radio" name="status" value="0">已完成</label>'
        ];
        switch (astatus) {
        case "3":
            radioBox.innerHTML = radio[0] + radio[1] + radio[2];
            break;
        case "2":
            radioBox.innerHTML = radio[1] + radio[2];
            break;
        case "1":
            radioBox.innerHTML = radio[2];
            break;
        }
        if (astatus !== "0") {
            dialog.style.display = "block";
        }
        btnStatus.onclick = function () {
            var checkedRadio;
            LV.each(radioList, function (index, element) {
                if (element.checked === true) {
                    checkedRadio = element.getAttribute("value");
                }
            });
            LV.xhrpost(LV.api + "?type=activityStatusChange", "status=" + checkedRadio + "&aid=" + aid + "&content=" + encodeURIComponent(ue.getContent()), function (data) {
                console.log(data);
                closeDialog();
                getData(status, 0, function (data) {
                    page = ui_list.select(0);
                    changePage(data);
                });
            });
        };
    }

    function showViewpage(aid) {
        var curStatus,
            showFunc;
        showFunc = getViewData(aid);
        viewbox.style.display = 'block';
        showFunc.getMainData(function (data) {
            curStatus = data.status;
            viewInfoBox.innerHTML +=
                '<div id="ac-picture" style="background-image: url(' + data.marqueePic + ')"></div>' +
                '<div class="activity-info">' +
                '<h1 class="font-big" id="ac-subject">' + data.subject + '</h1>' +
                '<p class="font-small" id="ac-slogan">' + data.slogan + '</p>' +
                '<p class="font-small">活动时间</p>' +
                '<p class="font-medium" id="ac-time">' + data.beginDateTime + '</p>' +
                '<p class="font-small">举办地点</p>' +
                '<p class="font-medium" id="ac-address">' + data.address + '</p>' +
                '<p class="font-medium">主办：<span id="ac-organization">' + data.name + '</span></p></div>';
        });
        showFunc.getDetailData(function (data) {
            viewContentBox.innerHTML += data.contents[3].content.text;
        });
        showFunc.getRelativeProductData(function (data) {
            if (data.products.length > 0) {
                viewProductBox.innerHTML += '<p>相关商品</p><div class="img-wrapper"></div>';
                var imgWrapper = viewProductBox.getElementsByClassName("img-wrapper")[0];
                LV.each(data.activities, function (index, element) {
                    imgWrapper.innerHTML += '<div><img src="' + element.coverUrl + '"><p>' + element.name + '</p></div>';
                });
            }
        });
        showFunc.getRelativeActivityData(function (data) {
            if (data.activities.length > 0) {
                viewActivityBox.innerHTML += '<p>相关活动</p><div class="img-wrapper"></div>';
                var imgWrapper = viewActivityBox.getElementsByClassName("img-wrapper")[0];
                LV.each(data.activities, function (index, element) {
                    imgWrapper.innerHTML += '<img src="' + element.marqueePic + '">';
                });
            }
        });
    }

    function bindOperate() {
        var tr = tbody.getElementsByTagName("tr"),
            operateStatus = tbody.getElementsByClassName("operateStatus"),
            operateView = tbody.getElementsByClassName("operateView");
        LV.each(operateStatus, function (index, element) {
            element.onclick = function () {
                var aid = tr[index].getAttribute("aid"),
                    astatus = tr[index].getAttribute("astatus");
                showDialog(aid, astatus);
            };
        });
        LV.each(operateView, function (index, element) {
            element.onclick = function () {
                var aid = tr[index].getAttribute("aid"),
                    astatus = tr[index].getAttribute("astatus");
                showViewpage(aid);
            };
        });
    }

    function changePage(data) {
        var operate = "查看",
            statusMap = {
                0: "已完成",
                1: "举办中",
                2: "未举办",
                3: "未发布"
            };
        LV.each(data, function (index, element) {
            tbody.innerHTML +=
                '<tr aid="' + element.id + '" astatus="' + element.status + '">' +
                '<td>' + (index + page * 10 + 1) + '</td>' +
                '<td>' + element.id + '</td>' +
                '<td>' + element.subject + '</td>' +
                '<td>' + element.name + '</td>' +
                '<td>' + element.beginDateTime.substr(0, 10) + '</td>' +
                '<td>' + element.readersNum + '</td>' +
                '<td><a class="operateStatus" href="javascript:void(0)">' + statusMap[element.status] + '</a></td>' +
                '<td><a class="operateView" href="javascript:void(0)">' + operate + '</a></td>' +
                '</tr>';
        });
        bindOperate();
    }

    function getData(status, page, callback) {
        LV.xhrget(LV.api + "?type=activityListAll&status=" + status + "&page=" + (page + 1), function (data) {
            console.log(data);
            hasmore.style.display = (data.hasNext) ? "block" : "none";
            callback(data.data);
        });
    }

    function getViewData(aid) {
        var func = {};
        func.getMainData = function (callback) {
            LV.xhrget(LV.api + "?type=activityGetMain&aid=" + aid, function (data) {
                console.log(data);
                callback(data);
            });
        }
        func.getDetailData = function (callback) {
            LV.xhrget(LV.api + "?type=activityGetDetail&aid=" + aid, function (data) {
                console.log(data);
                callback(data);
            });
        }
        func.getRelativeActivityData = function (callback) {
            LV.xhrget(LV.api + "?type=activityGetRelativeActivity&aid=" + aid, function (data) {
                console.log(data);
                callback(data);
            });
        }
        func.getRelativeProductData = function (callback) {
            LV.xhrget(LV.api + "?type=activityGetRelativeProduct&aid=" + aid, function (data) {
                console.log(data);
                callback(data);
            });
        }
        return func;
    }

    function closeDialog() {
        dialog.style.display = "none";
        ue.setContent("");
    }

    function closeViewbox() {
        viewbox.style.display = "none";
        viewInfoBox.innerHTML = "";
        viewContentBox.innerHTML = "";
        viewActivityBox.innerHTML = "";
        viewProductBox.innerHTML = "";
    }

    function searchByname(name) {
        if (name) {
            LV.xhrpost(LV.api + "?type=activitySearchByname", "page=0&name=" + name, function (data) {
                page = ui_list.select(0);
                if (data.data.length > 0) {
					console.log(data);
                    changePage(data.data);
                }
            });
        }
    }

    ue.ready(function () {
        ue.setHeight(200);
    });
    LV.each(navli, function (index, element) {
        element.onclick = function () {
            status = navMap[index];
            getData(status, 0, function (data) {
                page = ui_list.select(index);
                changePage(data);
            });
        };
    });
    hasmore.onclick = function () {
        page += 1;
        getData(status, page, function (data) {
            changePage(data);
        });
    };
    btnClose.onclick = closeDialog;
    btnCloseView.onclick = closeViewbox;
    LV.click(navli[0]);
    showDialog("104", "0");
    searchInput.onchange = function () {
        searchName = searchInput.value;
    };
    searchBtn.onclick = function () {
        searchByname(searchName);
    }
</script>