<style>
    html,
    body,
    #navigation-main {
        height: 100%;
        overflow-y: hidden;
    }
    
    #navigation-main .nav-pills {
        margin-top: 20px;
    }
    
    #navigation-main .nav-pills>li {
        width: 100%;
        overflow: hidden;
    }
    
    #navigation-main .nav-pills>li+li {
        margin-left: 0;
    }
</style>
<div class="container-fluid" id="navigation-main">
    <div class="col-sm-2">
        <ul class="nav nav-pills">
            <li role="presentation" class="active"><a href="#home">首页&nbsp;/&nbsp;DASHBOARD</a></li>
            <li role="presentation"><a href="#activity-list">活动&nbsp;/&nbsp;ACTIVITY</a></li>
            <li role="presentation"><a href="#product-list">商品&nbsp;/&nbsp;PRODUCT</a></li>
            <li role="presentation"><a href="#product-list">专场&nbsp;/&nbsp;SPECIAL</a></li>
        </ul>
    </div>
    <div class="col-sm-10" style="height:100%">
        <div class="embed-responsive embed-responsive-16by9" style="height:100%">
            <iframe class="embed-responsive-item" src="../pages/home.php" style="height:100%"></iframe>
        </div>
    </div>
</div>
<script>
    (function () {
        var body = LV.getDom("navigation-main"),
            navli = body.getElementsByTagName("li"),
            iframe = body.getElementsByTagName("iframe")[0],
            url = [
                "../pages/home.php",
                "../pages/activity_list.php",
                "../pages/product_list.php",
                "../pages/special_list.php",
            ];
        LV.each(navli, function (index, element) {
            element.onclick = function () {
                LV.each(navli, function (idx, ele) {
                    ele.className = (element === ele) ? "active" : "";
                    if (element === ele) {
                        iframe.src = url[idx];
                    }
                });
            }
        })
        iframe.onload = function () {
            document.title = iframe.contentDocument.title;
        };
    }());
</script>