<style>
    #product-create-form {
        margin: 20px auto;
        width: 90%;
        max-width: 1000px;
    }
    
    #product-create-form .breadcrumb>li {
        color: #ccc;
    }
    
    #product-create-form .breadcrumb>.active {
        color: #337ab7;
    }
    
    #product-create-form .breadcrumb>li+li:before {
        content: ">";
    }
    
    #product-create-form .alert .glyphicon-ok {
        margin-right: 10px;
    }
    
    #product-create-form .list-group li .glyphicon {
        display: none;
        cursor: pointer;
    }
    
    #product-create-form .list-group li .glyphicon:hover {
        color: #337ab7;
    }
    
    #product-create-form .list-group li:hover {
        background-color: aliceblue;
    }
    
    #product-create-form .list-group li:hover .glyphicon {
        display: block;
    }
    
    #product-create-form .panel {
        margin: 0;
        padding: 0;
    }
    
    #product-create-form .panel-body {
        padding: 0;
        max-height: 500px;
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    #product-create-form .panel-body img {
        width: 100%;
    }
    
    #product-create-form .panel-body p {
        word-break: break-word;
    }
</style>
<div class="container" id="product-create-form">
    <h1>商品录入</h1>
    <div class="ui-breadcrumb"></div>
    <div class="step">
        <div class="ui-form"></div>
        <div class="form-group">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-step">下一步</button>
            </div>
        </div>
    </div>
    <div class="step">
        <div class="ui-dropdown"></div>
        <div class="ui-panelgroup"></div>
        <div class="form-group">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-step">下一步</button>
            </div>
        </div>
    </div>
    <div class="step">
        <div class="ui-doublepanel"></div>
        <div class="form-group">
            <div class="pull-right">
                <button type="button" class="btn btn-primary btn-step">下一步</button>
            </div>
        </div>
    </div>
    <div class="step">
        <div class="alert alert-success" role="alert">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>商品添加成功，
            <a href="../pages/product_list.php" class="alert-link">返回列表</a>
        </div>
    </div>
    <form class="sr-only" id="formProductImage">
        <input type="file" class="form-control sr-only" id="inputProductImage" name="src">
    </form>
</div>
<script>
    var ui_header = new Breadcrumb({
        dom: document.querySelectorAll(".ui-breadcrumb")[0],
        section: ["基本信息", "详细信息", "相关商品", "完成"]
    });
    var ui_formStepOne = new Form({
        dom: document.querySelectorAll(".ui-form")[0],
        section: [
            {
                type: "text",
                name: "name",
                id: "inputProductName",
                text: "名称"
            },
            {
                type: "number",
                name: "price",
                id: "inputProductPrice",
                text: "价格"
            },
            {
                type: "text",
                name: "description",
                id: "inputProductDescription",
                text: "描述"
            },
            {
                type: "select",
                name: "category",
                id: "inputProductCategory",
                text: "类别"
            },
            {
                type: "select",
                name: "designer",
                id: "inputProductBrand",
                text: "品牌"
            },
            {
                type: "select",
                name: "brand",
                id: "inputProductDesigner",
                text: "设计师"
            },
            {
                type: "select",
                name: "origin",
                id: "inputProductOrigin",
                text: "产地"
            },
            {
                type: "select",
                name: "style",
                id: "inputProductStyle",
                text: "风格"
            },
            {
                type: "select",
                name: "material",
                id: "inputProductMaterial",
                text: "材质"
            },
            {
                type: "select",
                name: "embed",
                id: "inputProductEmbed",
                text: "镶嵌"
            },
            {
                type: "text",
                name: "length",
                id: "inputProductLength",
                text: "长度"
            },
            {
                type: "text",
                name: "size",
                id: "inputProductSize",
                text: "大小"
            },
            {
                type: "radio",
                name: "isRent",
                id: "inputProductIsRent",
                text: "可租用",
                section: [
                    {
                        value: "0",
                        text: "是",
                        checked: "checked"
                    },
                    {
                        value: "1",
                        text: "否",
                        checked: ""
                    }
                ]
            },
            {
                type: "text",
                name: "postscript",
                id: "inputProductPostScript",
                text: "备注信息"
            },
            {
                type: "image",
                name: "coverUrl",
                id: "inputProductCover",
                text: "封面图",
                previewid: "thumbnail"
            }
        ]
    });
    var ui_dropdown = new Dropdown({
        dom: document.querySelectorAll(".ui-dropdown")[0],
        title: "上传图片",
        section: [
            {
                type: "item",
                text: "跑马灯图片"
            },
            {
                type: "item",
                text: "制作工艺"
            },
            {
                type: "item",
                text: "产品细节"
            },
            {
                type: "item",
                text: "明星佩戴"
            },
            {
                type: "divider"
            },
            {
                type: "item",
                text: "产品白底高清图片"
            },
            {
                type: "item",
                text: "产品黑底高清图片"
            },
            {
                type: "item",
                text: "产品静物高清图片"
            },
            {
                type: "divider"
            },
            {
                type: "item",
                text: "产品模特佩戴图片"
            },
            {
                type: "item",
                text: "产品广告图片"
            },
            {
                type: "divider"
            },
            {
                type: "item",
                text: "专卖店展示图片"
            },
            {
                type: "item",
                text: "工坊制作图片"
            },
            {
                type: "divider"
            },
            {
                type: "item",
                text: "品牌活动图片"
            },
            {
                type: "item",
                text: "媒体刊登图片"
            },
        ]
    });
    var ui_panelgroup = new PanelGroup({
        dom: document.querySelectorAll(".ui-panelgroup")[0],
        section: [
            "跑马灯图片",
            "制作工艺",
            "产品细节",
            "明星佩戴",
            "产品白底高清图片",
            "产品黑底高清图片",
            "产品静物高清图片",
            "产品模特佩戴图片",
            "产品广告图片",
            "专卖店展示图片",
            "工坊制作图片",
            "品牌活动图片",
            "媒体刊登图片"
        ]
    });
    var ui_relativeProduct = new DoublePanel({
        dom: document.querySelectorAll(".ui-doublepanel")[0],
        titleLeft: "查找相关商品",
        titleRight: "已选相关商品"
    });
    var boxStep = Array.from(document.querySelectorAll(".step")),
        btnStep = document.querySelectorAll(".btn-step"),
        fileImage = document.querySelectorAll("#formProductImage")[0],
        inputImage = document.querySelectorAll("#inputProductImage")[0],
        pid = 0,
        ptype = 0;

    function setStep(x) {
        boxStep.forEach(function (element, index) {
            element.style.display = (index === x) ? "block" : "none";
        });
        ui_header.select(x);
        if (x === 2) {
            LV.xhrget(LV.api + "?type=productListAll&status=1&page=1", function (data) {
                console.log(data);
                ui_relativeProduct .fillListGroupLeft(data.products);
            });
        }
    }

    function setSelect() {
        var obj = [
            {
                url: "productListDesigner",
                name: "designers",
                domID: "inputProductDesigner"
                },
            {
                url: "productListBrand",
                name: "brands",
                domID: "inputProductBrand"
                },
            {
                url: "productListCategory",
                name: "productCategoryItemBeans",
                domID: "inputProductCategory"
                },
            {
                url: "productListEmbed",
                name: "productEmbedItemBeans",
                domID: "inputProductEmbed"
                },
            {
                url: "productListMaterial",
                name: "productMaterialItemBeans",
                domID: "inputProductMaterial"
                },
            {
                url: "productListOrigin",
                name: "productOriginBeans",
                domID: "inputProductOrigin"
                },
            {
                url: "productListStyle",
                name: "productStyleBeans",
                domID: "inputProductStyle"
                }
            ];
        obj.forEach(function (element, index) {
            LV.xhrget(`${LV.api}?type=${element.url}&ptype=1&page=1`, function (data) {
                console.log(data);
                data[element.name].forEach(function (ele, idx) {
                    ui_formStepOne.fillSelection(
                        element.domID, {
                            id: ele.id,
                            name: ele.name
                        }
                    );
                });
            });
        });
    }

    setStep(0);
    setSelect();

    ui_formStepOne.fileInputDom.onchange = function () {
        var form = new FormData(ui_formStepOne.fileFormDom);
        LV.xhrfile(LV.uploadImage + "product/0", form, function (data) {
            console.log(data);
            ui_formStepOne.filePreviewDom.src = ui_formStepOne.fileReturnDom.value = LV.serverPath.image + data.src_1.filePath;
        });
    };
    ui_dropdown.buttonDomArray.forEach(function (element, index) {
        element.onclick = function (event) {
            ptype = index;
            LV.click(inputImage);
        };
    });
    inputImage.onchange = function () {
        var form = new FormData(fileImage);
        LV.xhrfile(LV.uploadImage + "product/" + pid, form, function (data) {
            console.log(data);
            ui_panelgroup.panelBodyDomArray[ptype].innerHTML += `<img src="${LV.serverPath.image + data.src_1.filePath}">`;
            LV.xhrpost(LV.api + "?type=productAddDetail&rid=" + pid, "&description=image&path=" + LV.serverPath.image + data.src_1.filePath + "&type=" + ptype, function (data) {
                console.log("saved");
            });
        });
    };
    btnStep[0].onclick = function () {
        LV.xhrpost(LV.api + "?type=productAddMain", ui_formStepOne.getSerialize(), function (data) {
            console.log(data);
            pid = data.id;
            setStep(1);
        });
    };
    btnStep[1].onclick = function () {
        setStep(2);
    };
    btnStep[2].onclick = function () {
        setStep(3);
        ui_relativeProduct.getSelectedItem().forEach(function (element, index) {
            LV.xhrpost(LV.api + "?type=productAddRelativeProduct", `aid=${pid}&pid=${element.pid}`, function (data) {
                console.log(data);
            });
        });
    };
</script>