<style>
	#product-list-table {
		margin: 20px auto;
		width: 90%;
		max-width: 1000px;
	}
	
	#product-list-table .glyphicon {
		cursor: pointer;
	}
	
	#product-list-table .glyphicon:hover {
		color: #337ab7;
	}
	
	#product-list-table .viewbox {
		font-family: "Microsoft Yahei";
		font-size: 62.5%;
	}
	
	#product-list-table .viewbox {
		position: fixed;
		top: 60px;
		left: 50%;
		margin-left: -187.5px;
		width: 375px;
	}
	
	#product-list-table .viewbox p,
	#product-list-table .viewbox h5 {
		padding: 0 2%;
	}
	
	#product-list-table .viewbox table {
		width: 96%;
		margin: 0 auto;
	}
	
	#product-list-table .viewbox table tbody tr td:first-child {
		width: 15%;
		text-align: right;
	}
	
	#product-list-table .viewbox img,
	#product-list-table .viewbox video {
		width: 100%;
	}
	
	#product-list-table .viewbox .panel-body {
		padding: 0;
		height: 667px;
		overflow: auto;
	}
	
	#product-list-table .viewbox .designer {
		text-align: center;
	}
	
	#product-list-table .viewbox .designer img {
		width: 30%;
		border-radius: 100%;
	}
	
	#product-list-table .viewbox .starwear img {
		width: 30%;
	}
	
	#product-list-table .viewbox .starwear img + img {
		margin-left: 5%;
	}
</style>
<div class="container" id="product-list-table">
	<div class="form-group clearfix">
		<div class="ui-search"></div>
		<div class="pull-right">
			<a href="product_create.php" type="button" class="btn btn-primary">添加商品</a>
		</div>
	</div>
	<div class="ui-navtabs"></div>
    <div class="ui-table"></div>
	<div class="viewbox" style="display:none">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">预览
                <span class="glyphicon glyphicon-remove pull-right btn-close" aria-hidden="true"></span>
                </h3>
			</div>
			<div class="panel-body"></div>
		</div>
	</div>
</div>
<script>
    var ui_search = new ListSearch({
        dom: document.querySelectorAll(".ui-search")[0],
        type: "商品"
    });
    var ui_list = new List({
        navDom: document.querySelectorAll(".ui-navtabs")[0],
        tableDom: document.querySelectorAll(".ui-table")[0],
        tabs: ["全部", "类别1"],
        columns: ["#", "商品ID", "品牌", "设计师", "产地", "风格", "操作"]
    });
	var body = LV.getDom("product-list-table"),
		navli = body.getElementsByClassName("nav-tabs")[0].getElementsByTagName("li"),
		tbody = body.getElementsByTagName("tbody")[0],
		hasmore = body.getElementsByClassName("hasmore")[0],
        searchName = '',
        search = body.getElementsByClassName("input-group")[0],
        searchInput = search.getElementsByTagName("input")[0],
        searchBtn = search.getElementsByTagName("button")[0],
		viewbox = body.getElementsByClassName("viewbox")[0],
		viewContentBox = viewbox.getElementsByClassName("panel-body")[0],
		btnCloseView = viewbox.getElementsByClassName("btn-close")[0],
		page = 0,
		navMap = ["1", "1"],
		status = "1";

	function changePage(data) {
		LV.each(data, function (index, element) {
			tbody.innerHTML +=
				'<tr pid="' + element.id + '">' +
				'<td>' + (index + page * 10 + 1) + '</td>' +
				'<td>' + element.id + '</td>' +
				'<td>' + element.name + '</td>' +
				'<td>' + ((element.productDesigners.length > 0) ? (element.productDesigners[0].name) : '暂无信息') + '</td>' +
				'<td>' + element.productOrigin.name + '</td>' +
				'<td>' + element.productStyle.name + '</td>' +
				'<td><a class="operateView" href="javascript:void(0)">查看</a></td>' +
				'</tr>';
		});
		bindOperate();
	}

	function bindOperate() {
		var tr = tbody.getElementsByTagName("tr"),
			operateView = tbody.getElementsByClassName("operateView");
		LV.each(operateView, function (index, element) {
			element.onclick = function () {
				var pid = tr[index].getAttribute("pid");
				console.log(pid);
				showViewpage(pid);
			};
		});
	}

	function sortImages(data, callback) {
		var imagesSort = [],
			i;
		for (i = 0; i < 13; i += 1) {
			imagesSort[i] = [];
		}
		LV.each(data, function (index, element) {
			imagesSort[element.type].push(element);
		});
		callback(imagesSort);
	}

	function showViewpage(pid) {
		viewbox.style.display = 'block';
		getProductData(pid, function (data) {
			var images = data.productImageBeans,
				imagesDom = [],
				i;

			sortImages(images, function (sorted) {
				LV.each(sorted, function (index, element) {
					imagesDom[index] = '';
					LV.each(element, function (idx, item) {
						imagesDom[index] += '<img src="' + item.path + '">';
					});
				});
			});

			viewContentBox.innerHTML +=
				'<div class="cover"><img src="' + data.coverUrl + '"></div>' +
				'<p class="name">' + data.name + '</p>' +
				'<table>' +
				'<thead><tr><td>商品参数</td></tr></thead>' +
				'<tbody>' +
				'<tr><td>类别：</td>' +
				'<td>' + data.productCategory.name + '</td></tr>' +
				'<tr><td>材质：</td>' +
				'<td>' + data.productMaterial.name + '</td></tr>' +
				'<tr><td>长度：</td>' +
				'<td>' + data.length + '</td></tr>' +
				'<tr><td>设计师：</td>' +
				'<td>' + data.productDesigners[0].name + '</td></tr>' +
				'<tr><td>产地：</td>' +
				'<td>' + data.productOrigin.name + '</td></tr>' +
				'<tr><td>风格：</td>' +
				'<td>' + data.productStyle.name + '</td></tr>' +
				'</tbody></table>' +
				/*'<h5>TV Show</h5>' +
				'<video src="' + data.productVideos[0].path + '"></video>' +*/
				'<h5>设计师</h5>' +
				'<div class="designer"><img src="' + data.productDesigners[0].avatar_url + '">' +
				'<p>' + data.productDesigners[0].name + '</p>' +
				'<p>' + data.productDesigners[0].verify_info + '</p></div>' +
				'<p>' + data.productDesigners[0].description + '</p>' +
				'<h5>制作工艺</h5>' + imagesDom[1] +
				'<h5>产品细节</h5>' + imagesDom[2] +
				'<h5>明星佩戴</h5><div class="starwear">' + imagesDom[3] + '</div>';
		});
	}

	function getData(status, page, callback) {
		LV.xhrget(LV.api + "?type=productListAll&status=1&page=" + (page + 1), function (data) {
			console.log(data);
			//hasmore.style.display = (data.hasNext) ? "block" : "none";
			callback(data.products);
		});
	}

	function getProductData(pid, callback) {
		LV.xhrget(LV.api + "?type=productGetSingle&pid=" + pid, function (data) {
			console.log(data);
			callback(data);
		});
	}

	function closeViewbox() {
		viewbox.style.display = "none";
		viewContentBox.innerHTML = "";
	}
    
    function searchByname(name, callback) {
        if (name) {
            LV.xhrpost(LV.api + "?type=productSearchByname", "page=1&name=" + name, function (data) {
                console.log(data);
                page = ui_list.select(0);
                if (data.products.length > 0) {
                    changePage(data.products);
                }
            });
        }
    }

	LV.each(navli, function (index, element) {
		element.onclick = function () {
			status = navMap[index];
			getData(index, 0, function (data) {
                ui_list.select(index);
				changePage(data);
			});
		};
	});
	hasmore.onclick = function () {
		page += 1;
		getData(status, page, function (data) {
			changePage(data);
		});
	};
	LV.click(navli[0]);
	btnCloseView.onclick = closeViewbox;
    searchInput.onchange = function () {
        searchName = searchInput.value;
    };
    searchBtn.onclick = function () {
        searchByname(searchName);
    }
</script>