<style>
    #special-list-table {
        margin: 20px auto;
        width: 90%;
        max-width: 1000px;
    }
</style>
<div class="container" id="special-list-table">
    <div class="form-group clearfix">
        <div class="ui-search"></div>
        <div class="pull-right">
            <a href="special_create.php" type="button" class="btn btn-primary">添加专场</a>
        </div>
    </div>
</div>